header {
    background: var(--dark-green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    height: 8rem;
}

header .logo-container {
    max-width: 6rem;
    max-height: 6rem;
}

header .logo-container img {
    width: 100%;
    height: 100%;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header h1 {
    font: normal bold 1.4rem var(--font-default);
    color: var(--white-color);
}

header h1 span {
    display: block;
    text-align: end;
}

header nav a:hover {
    color: var(--light-green);
}

@media(max-width: 560px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 12rem;
        gap: 0.4rem;
    }

    header h1 span {
        text-align: center;
    }

    header .logo-container {
        max-width: 4rem;
        max-height: 4rem;
    }

}